@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 20% 98%;
    --foreground: 220 20% 20%;

    --card: 0 0% 100%;
    --card-foreground: 220 20% 20%;

    --popover: 0 0% 100%;
    --popover-foreground: 220 20% 20%;

    --primary: 204 45% 41%;
    --primary-foreground: 0 0% 100%;

    --secondary: 210 30% 94%;
    --secondary-foreground: 220 20% 20%;

    --muted: 210 20% 96%;
    --muted-foreground: 215 16% 47%;

    --accent: 84 90% 60%;
    --accent-foreground: 100 50% 10%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 210 20% 90%;
    --input: 210 20% 90%;
    --ring: 204 45% 41%;

    --radius: 0.5rem;

    --sidebar-background: 210 30% 97%;
    --sidebar-foreground: 220 20% 20%;
    --sidebar-primary: 204 45% 41%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 84 90% 60%;
    --sidebar-accent-foreground: 100 50% 10%;
    --sidebar-border: 210 20% 90%;
    --sidebar-ring: 204 45% 41%;
  }

  .dark {
    --background: 222 84% 5%;
    --foreground: 210 40% 98%;
    --card: 222 84% 5%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 5%;
    --popover-foreground: 210 40% 98%;
    --primary: 204 45% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 18%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 18%;
    --muted-foreground: 215 20% 65%;
    --accent: 84 90% 50%;
    --accent-foreground: 100 50% 10%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 18%;
    --input: 217 33% 18%;
    --ring: 204 45% 50%;
    --sidebar-background: 240 6% 10%;
    --sidebar-foreground: 240 5% 96%;
    --sidebar-primary: 224 76% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 4% 16%;
    --sidebar-accent-foreground: 240 5% 96%;
    --sidebar-border: 240 4% 16%;
    --sidebar-ring: 217 91% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  html,
  body,
  #root {
    height: 100%;
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    @apply bg-background text-foreground;
    overflow: hidden;
  }

  #root {
    min-height: 100%;
  }
}
